.clase-email {
    -fx-background-color: rgb(220, 220, 220);
}

.clase-contrasena {
    -fx-background-color: rgb(220, 220, 220);
}

.clase-boton {
    -fx-background-color: rgb(34, 24, 61);
}

.boton-olvidado {
    -fx-background-color: rgb(255, 255, 255);
}

.boton-otra-manera {
    -fx-background-color: rgb(255, 255, 255);
}
.boton-crear-cuenta {
    -fx-background-color: rgb(255, 255, 255);
    
}



.boton-continuar {
    -fx-background-color: rgb(34, 24, 61);
}

.fondo {
    -fx-background-color: rgb(21, 28, 37);
}

.barra_menu {
    -fx-background-color: rgb(65, 90, 119);
}





.total_llaves {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 20;
    -fx-padding: 3 45;
}

.total_central {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 20;
    -fx-padding: 1 40;
}

.total_derecha {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 20;
    -fx-padding: 3 25;
}

.total_izquierda {
    -fx-background-color: rgb(0, 0, 0);
    -fx-background-radius: 20;
    -fx-padding: 3 25;
}

.fondo_menu {
    -fx-background-color: rgb(65, 90, 119);
}